* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

:root {
  font-size: 62.5%;
  --deep-theme-color: #e44449;
  --theme-color: #f15156;
  --main-text-color: #0d3b66;
  --secondary-text-color: #000000;
  --highlight-color: #f4d35e;
  --white: #ffffff;

  /* swipper */
  --swiper-navigation-size: 2.4rem !important;
}

body {
  overflow-x: hidden;
}

body,
button {
  font-family: 'Nunito', sans-serif;
  font-weight: 400;
}

section {
  margin: 0 auto;
  max-width: 68rem;
  position: relative;
}

strong {
  font-weight: 800;
}

h1 {
  font-weight: 700;
  font-size: 44px;
  line-height: 110%;
  letter-spacing: -0.02em;
}

p {
  font-size: 1.4rem;
}

header {
  padding: 2.5rem 2rem;
  width: 100%;
  height: 8rem;
  background-color: var(--deep-theme-color);
  display: flex;
  justify-content: space-between;
  align-items: center;
  max-width: 68rem;
  z-index: 100;
  position: relative;
}

.opened {
  transform: translateY(38rem);
  transition: transform 0.5s;
}

.hide {
  display: none;
  visibility: hidden;
}

button {
  border: none;
  background: var(--white);
  border-radius: 8.5px;
  display: flex;
  align-items: center;
  justify-content: center;
  cursor: pointer;
}

button.menu,
button.close {
  width: 4rem;
  height: 4rem;
}

nav {
  position: absolute;
  background-color: var(--deep-theme-color);
  width: 100%;
  max-width: 68rem;
  border-radius: 0px 0px 20px 20px;
  padding: 0 2rem 2.8rem;
  top: -30rem;
  z-index: 100;
}

.line {
  margin-top: 5px;
  width: 100%;
  height: 0px;
  opacity: 0.2;
  border: 1px solid var(--white);
}

ul {
  list-style-type: none;
  display: flex;
  flex-direction: column;
  gap: 1.2rem;
  padding-top: 2.7rem;
}

li {
  font-family: 'Nunito';
  font-weight: 600;
  font-size: 1.8rem;
  line-height: 110%;
  letter-spacing: -0.02em;
  color: var(--white);
  opacity: 0.5;
  cursor: pointer;
}

li:hover {
  opacity: 1;
  transition: 0.7s;
  font-weight: 700;
}

/** HOME SECTION **/

#home {
  background: var(--theme-color);
  color: var(--white);
  padding-bottom: 4.8rem;
}

.pre-title {
  margin: 5.2rem 2rem 3.5rem;
}

.circles img {
  margin-right: -1.1rem;
  border-radius: 50%;
  border: 3px solid var(--theme-color);
  width: 2.4rem;
  height: 2.4rem;
}

.main-content h1 {
  max-width: 27rem;
  margin: 0 2rem;
}

.main-subtitle {
  display: none;
}

.hero {
  margin-top: 3.3rem;
  width: 100%;
  max-width: 68rem;
  height: 28rem;
  display: grid;
  grid-auto-flow: column;
  place-items: end center;
  background-image: url('./assets/hero-mobile.png');
  background-size: cover;
  background-position: center bottom;
  background-repeat: no-repeat;
}

.hero button {
  position: absolute;
  width: 23.9rem;
  height: 5.5rem;
  background: #ffffff;
  border-radius: 9px;
  margin-bottom: 2rem;
  font-weight: 800;
  font-size: 1.4rem;
  line-height: 1.5rem;
  color: var(--main-text-color);
}

/* APP SECTION */

.container {
  padding: 8rem 2rem 2rem 2rem;
}

#about h1 {
  font-size: 3rem;
  color: var(--main-text-color);
}

.items {
  margin-top: 2rem;
  display: flex;
  flex-direction: column;
  gap: 1rem;
}

.item {
  width: 100%;
  background: hsla(356, 81%, 96%, 0.5);
  border: 1px solid rgba(241, 81, 86, 0.3);
  border-radius: 2rem;
  padding: 3rem 6.7rem 3rem 3rem;
  display: flex;
  flex-direction: column;
  gap: 2.5rem;
}

.item p:first-of-type {
  font-size: 3rem;
}

.item p {
  color: var(--secondary-text-color);
  line-height: 110%;
  letter-spacing: -0.2px;
}

.app-image-wrapper {
  position: relative;
  margin: 0 auto;
  display: flex;
  justify-content: center;
  overflow: hidden;
}

#app-bg {
  margin-top: 3rem;
  background: linear-gradient(180deg, #fdeced 0%, rgba(253, 236, 237, 0) 100%);
  opacity: 0.5;
  height: 28.4rem;
  width: 100%;
}

#app-mobile {
  position: absolute;
  max-width: 58.5rem;
  width: 130%;
}

#app-desktop {
  display: none;
}

/* FRIENDS SECTION */

#friends .container {
  margin: 0 auto;
}

#friends .friends-content {
  background-color: var(--theme-color);
  padding: 6rem 3.2rem;
  border-radius: 2rem;
  display: grid;
}

#friends h2 {
  font-size: 3rem;
  font-weight: 700;
  color: var(--highlight-color);
  line-height: 2.7rem;
  text-align: center;
  letter-spacing: -0.02rem;
  margin-bottom: 4rem;
}

#friends p {
  font-size: 1.6rem;
  font-weight: 400;
  line-height: 1.8rem;
  letter-spacing: -0.02em;
  color: var(--white);
  margin-bottom: 2rem;
}

#friends a {
  background: var(--white);
  text-decoration: none;
  font-size: 1.4rem;
  font-weight: 800;
  color: var(--main-text-color);
  text-align: center;
  width: 100%;
  padding: 1.8rem;
  display: inline-block;
  border-radius: 0.8rem;
}

.swiper {
  width: 100%;
  height: 100%;
  margin-top: 3rem;
}

.swiper-slide {
  text-align: center;
  font-size: 18px;
  display: flex;
  justify-content: center;
  align-items: center;
}

.swiper-slide img {
  display: block;
  width: 100%;
}
.swiper-pagination-bullet {
  background: var(--white) !important;
}

.swiper-pagination-bullet-active {
  background-color: var(--white) !important;
}

.swiper-button-next,
.swiper-button-prev {
  display: none !important;
}

@media (min-width: 681px) {
  section {
    max-width: 100vw;
  }

  /* HOME */
  #home {
    width: 100vw;
    max-width: 108rem;
    padding-bottom: 0;
    height: 90rem;
  }

  header {
    max-width: 108rem;
  }

  nav {
    max-width: 108rem;
  }

  .main-content {
    display: flex;
    width: 100%;
    justify-content: space-between;
    align-content: flex-start;
    padding: 3rem 0 0 3rem;
    height: 79rem;
    position: relative;
  }

  .pre-title {
    margin: 21rem 0 0;
    display: flex;
    flex-direction: column;
    gap: 1rem;
    width: 100%;
  }

  .pre-title p {
    font-size: 1.6rem;
    line-height: 3.4rem;
  }

  .circles img {
    margin-right: -1.1rem;
    border-radius: 50%;
    border: 3px solid var(--theme-color);
    width: 3.2rem;
    height: 3.2rem;
  }

  .main-content h1 {
    max-width: 52rem;
    margin: 7rem 0 0;
    font-size: 4.5rem;
    width: 55%;
  }

  .main-subtitle {
    margin-top: 8rem;
    display: block;
    font-weight: 600;
    font-size: 2rem;
    line-height: 2.6rem;
    width: 55%;
  }

  .hero {
    margin-top: 0;
    position: absolute;
    right: 0;
    width: 50%;
    height: 100%;
    max-height: 79rem;
    display: grid;
    grid-template-columns: 1fr 1fr 1fr 1fr;
    place-items: end left;
    background-image: url('./assets/hero-desktop.png');
    background-size: cover;
    background-position: left top;
    background-repeat: no-repeat;
  }

  .hero button {
    position: absolute;
    bottom: 6.4rem;
    width: 83%;
    max-width: 50rem;
    height: 7.2rem;
    margin: 0 4rem 5rem;
    font-weight: 800;
    font-size: 2rem;
  }

  #about {
    width: 100vw;
    max-width: 108rem;
  }

  .container {
    margin: 2rem 2rem 0 0;
    padding: 8rem 2rem 2rem;
  }

  .items {
    margin-top: 2rem;
    display: grid;
    flex-direction: column;
    grid-template-columns: 1fr 1fr;
    gap: 3.2rem;
    padding: 0;
  }
  .last {
    grid-column: span 2;
  }
}

@media (min-width: 1080px) {
  #home {
    max-width: 144rem;
    height: 98.5rem;
  }

  header {
    top: 0;
    max-width: 144rem;
    height: 16.5rem;
    align-items: flex-start;
    width: 100%;
    margin-left: 0;
    padding: 0;
    background-color: var(--theme-color);
    position: relative;
    display: block;
  }

  #logo {
    width: 17.7rem;
    padding-left: 11.2rem;
    padding-top: 4rem;
  }

  button.menu,
  button.close {
    display: none;
  }

  button.menu img,
  button.close img {
    display: none;
  }

  nav {
    position: absolute;
    background-color: transparent;
    max-width: 77.1rem;
    height: auto;
    border-radius: 0px;
    padding: 0;
    top: 0;
    left: auto;
    right: 5.2rem;
    z-index: 100;
    transform: scale(1);
    box-shadow: none;
  }

  .line {
    display: none;
  }

  .opened {
    transform: scale(1);
    transition: transform 0.5s;
  }

  ul {
    gap: 6.2rem;
    height: auto;
    padding-top: 5.2rem;
    flex-direction: row;
    justify-content: space-between;
    align-items: center;
  }

  li {
    font-weight: 400;
    font-size: 1.6rem;
  }

  .main-content {
    padding: 3rem 11.2rem 0 11.2rem;
  }

  .pre-title {
    margin: 0;
    margin-top: 20.8rem;
    display: flex;
    flex-direction: row;
    gap: 1.6rem;
    max-width: 35rem;
  }
  .circles {
    width: fit-content;
  }

  .main-content h1 {
    font-size: 7.2rem;
    width: 83%;
  }

  .main-subtitle {
    font-size: 2.4rem;
    line-height: 3.4rem;
    max-width: 40.7rem;
    width: 100%;
    margin-top: 4rem;
  }

  #about {
    width: 100%;
    max-width: 144rem;
    display: flex;
    flex-direction: row-reverse;
    gap: 5.5rem;
    overflow: hidden;
    padding: 0 11.2rem 0 2rem;
  }

  #about h1 {
    font-size: 4.8rem;
    max-width: 54rem;
  }

  .container {
    max-width: 47%;
    margin-top: 13.4rem;

    padding: 0;
  }

  .items {
    margin-top: 5.2rem;
    margin-bottom: 13.4rem;
    padding: 0;
  }

  .app-image-wrapper {
    position: relative;
    display: flex;
    justify-content: center;
    max-width: 47%;
    height: 78.5rem;
  }

  #app-bg {
    border-radius: 2rem;
    width: 58.5rem;
    margin-top: 2.7rem;
  }

  #app-mobile {
    display: none;
  }

  #app-desktop {
    display: block;
    position: absolute;
    max-width: 58.5rem;
    top: 8.7rem;
  }

  .item {
    padding: 3rem;
    gap: 3.5rem;
  }

  #friends .container {
    min-width: 100%;
    padding: 2rem 11.2rem;
  }

  #friends .friends-content {
    padding: 10rem 10.4rem;
    grid-template-columns: repeat(2, 1fr);
    gap: 1rem;
    align-items: center;
  }

  #friends h2 {
    font-size: 4.8rem;
    line-height: 4.3rem;
    text-align: initial;
    width: 40rem;
  }

  #friends p {
    font-size: 2rem;
    line-height: 2.2rem;
    min-width: 49rem;
  }

  #friends a {
    font-size: 2rem;
    width: 23.1rem;
    height: 7.2rem;
    padding: 1.9rem;
    display: block;
    border-radius: 2rem;
  }

  .swiper-slide img {
    width: 38.4rem;
    height: 26.1rem;
    margin: 0 auto;
  }

  .swiper-button-next::after,
  .swiper-button-prev::after {
    display: none;
  }

  #btn-next,
  #btn-prev {
    display: block !important;
  }

  .slider {
    margin: 0 auto;
    max-width: 60rem;

    position: relative;
  }

  .slider .swiper-button-next,
  .slider .swiper-button-prev {
    width: 7.2rem;
    height: 7.2rem;

    padding: 2.4rem;
    margin: 0;
    border: 1px solid #ffffff;
    border-radius: 1.5rem;
  }

  .slider .swiper-button-next {
    position: absolute;
    top: 9rem;
  }

  .slider .swiper-button-prev {
    position: absolute;
    top: 9rem;
  }

  .slider .swiper-button-next:hover,
  .slider .swiper-button-prev:hover {
    background: var(--white);
  }

  .slider .swiper-button-next:hover svg path,
  .slider .swiper-button-prev:hover svg path {
    stroke: black;
  }
}
@media (min-width: 1361px) {
  nav {
    left: auto;
    right: 11.2rem;
  }

  .main-content h1 {
    width: 100%;
  }
  .main-subtitle {
    margin-top: 8rem;
  }
}
